# extends "base.html"

# block css
            {{'#'}}text {
                background: 7f7f00;
                font-family: times;
                font-size: 3em;
                width: 100%;
                line-height: 1.5em;
                padding: 1em;
                text-align: center;
            }

            # if text:
            #   for tagtype in text.dataset.tag_types:
            .ui.button.{{tagtype.name}} {
                //background: {{ tagtype.color }};
                color: black;
            }

            .{{tagtype.name}} {
                background: {{ tagtype.color }};
                padding: 0.1em;
                border-radius: 0.1em;
                color: black;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            .{{ tagtype.name }}::after {
                //content: "1{{ tagtype.name }}";
                color: white;
                padding: 0.2em;
                margin-left: 0.5em;
                border-radius: 0.25em;
                font-family: sans-serif;
                //font-size: 0.75em;
                background: {{ tagtype.color }};
            }

            #   endfor
            # endif
# endblock

# block content
    <h1 class="ui header">Validate - {{text.status.name}}</h1>
    <div>
        <b>Tags:</b>
        <span id="tags">
        # for tagtype in text.dataset.tag_types:
        <button id="tag_{{ tagtype.name }}" class="ui button inverted {{tagtype.color}} {{tagtype.name}}" onclick="setTagType('{{tagtype.name}}')">{{ loop.index }} - {{ tagtype.name }}</button>
        # endfor
        <button id="tag_clear" class="ui icon button" onclick="setTagType('clear')"><i class="ban alternate icon"></i></button>
        <button class="ui icon button" onclick="reset()"><i class="undo alternate icon"></i></button>
        </span>
    </div>
    <div id="text">{{ tagged | safe }}</div>
    <div style="width: 100%; text-align: center">
        <div class="ui buttons">
            <button class="ui button" onclick="submit_verified()" data-variation="basic" data-position="bottom center" data-content="Submit verified (enter)"><i class="check circle icon green"></i></button>
            <button class="ui button" onclick="submit_incorrect()"><i class="close icon red"></i></button>
            <button class="ui button" onclick="submit_deleted()"><i class="trash icon"></i></button>
            <button class="ui button" onclick="submit_broken()"><i class="exclamation triangle icon red"></i></button>
            <button class="ui button" onclick="skip()"><i class="right arrow icon"></i></button>
        </div>
    </div>
    <div style="padding-top: 3em; width: 100%; align: center">
        <div><b>Instructions<b>:</div>
        <ul>
            <li>Select text to assign current tag.</li>
            <li>Press <b>1-9</b> to select tag</li>
            <li>Press <b>enter</b> to submit text as <b>correct</b>.</li>
            <li>Press <b>x</b> to submit text as <b>incorrect</b>.</li>
        </ul>
    </div>
# endblock

# block afterbody
    <script>
        var tag_colors = {
        # for tagtype in text.dataset.tag_types:
        "{{ tagtype.name }}": "{{ tagtype.color }}",
        # endfor
        "clear": "gray"
        }

        var originalText = document.getElementById("text").innerHTML
        var currentTagType = "{{ (text.dataset.tag_types | first).name }}";
        var currentTag = null
        var inTag = false

        function setTagType(t) {
            if (currentTagType != "clear") {
                document.getElementById("tag_" + currentTagType).className = "ui button inverted " + tag_colors[currentTagType] + " " + currentTagType
            }

            currentTagType = t;

            if (t != "clear") {
                document.getElementById("tag_" + t).className = "ui button inverted active " + tag_colors[t] + " " + t
            }
        }

        function reset() {
            document.getElementById("text").innerHTML = originalText
            setTagType("{{ text.dataset.tag_types[0].name }}");
            $("#text span").attr("onmousedown", "clickTag(this)")
        }

        function clearAll() {
            document.getElementById('text').innerHTML = document.getElementById('text').innerHTML.replace(/(<([^>]+)>)/gi, "")
        }

        function clickTag(t) {
            inTag = true
            currentTag = t
            //t.outerHTML = currentTag.innerHTML
        }

        function get_tags() {
            var tags = []
            var i=0,j=0       

            $("#text").contents().each(function(n) {
                //alert(n + " " + this.nodeType + " " + $(this).text())
                
                if (this.nodeType == 3) {
                    i += $(this).text().length
                } else if (this.nodeType == 1) {
                    j = i + $(this).text().length
                    tags.push({ "tag": $(this).attr("class"), "start": i, "stop": j })
                    i=j
                }
            })

            return tags
        }

        function submit_verified() {
            data = { text_id: {{ text.id }}, status: "verified", tags: get_tags() }
            
            fetch("/_validate", { method: "POST", body: JSON.stringify(data), headers: { 'Content-Type': 'application/json' }})
                .then(data => console.log(data))

            window.location = "/dataset/{{ text.dataset.id }}/_random"
            //originalText = document.getElementById("text").innerHTML
        }

        function submit_incorrect() {
            data = { text_id: {{ text.id }}, status: "incorrect" }
            
            fetch("/_validate", { method: "POST", body: JSON.stringify(data), headers: { 'Content-Type': 'application/json' }})
                .then(data => console.log(data))

            window.location = "/dataset/{{ text.dataset.id }}/_random";
        }

        function submit_broken() {
            data = { text_id: {{ text.id }}, status: "broken" }
            
            fetch("/_validate", { method: "POST", body: JSON.stringify(data), headers: { 'Content-Type': 'application/json' }})
                .then(data => console.log(data))

            window.location = "/dataset/{{ text.dataset.id }}/_random"
        }

        function submit_deleted() {
            data = { text_id: {{ text.id }}, status: "deleted" }
            
            fetch("/_validate", { method: "POST", body: JSON.stringify(data), headers: { 'Content-Type': 'application/json' }})
                .then(data => console.log(data))

            window.location = "/dataset/{{ text.dataset.id }}/_random"
        }

        function skip() {
            window.location = "/dataset/{{ text.dataset.id }}/_random"
        }

        //$('.button')
        //    .popup()

        reset()

        //setTagType("{{ text.dataset.tag_types[0].name }}");

        //$("#text span").attr("onmousedown", "clickTag(this)")

        $(document).on("keydown", function (e) {
            console.log(e)

            if (e.keyCode == 13) {
                // submit verified
                submit_verified()
            } else if (e.key == 'x') {
                // submit incorrect
                submit_incorrect()
            } else if (e.keyCode == 39) {
                // skip
                skip()
            } else if (e.key == '0') {
                setTagType("clear")
            # for tt in text.dataset.tag_types:
            } else if (e.key == '{{ loop.index }}') {
                setTagType("{{ text.dataset.tag_types[loop.index0].name }}")
            # endfor
            }
        })

        document.getElementById('text').addEventListener('mouseup', function() {
            let selection = document.getSelection();
            let {anchorNode, anchorOffset, focusNode, focusOffset} = selection;


            if (selection.toString().replace(/(<([^>]+)>)/gi, "").length <= document.getElementById('text').innerHTML.replace(/(<([^>]+)>)/gi, "").length) {
                if (selection.toString().length > 0) {
                    let text = selection
                    range = selection.getRangeAt(0)

                    entity = document.createElement("span");
                    entity.setAttribute("class", currentTagType);
                    entity.setAttribute("onmousedown", "clickTag(this)");
                    entity.innerHTML = `${selection}`;

                    if (currentTagType == 'clear') {
                        entity = document.createTextNode(entity.innerHTML)
                    }

                    range.deleteContents();
                    range.insertNode(entity)
                    selection.empty();
                } else {
                    if (inTag) {
                        if (currentTagType == 'clear') {
                            currentTag.outerHTML = currentTag.innerHTML
                        } else {
                            currentTag.setAttribute("class", currentTagType);
                        }
                    }
                }
            }

            selection.empty()
            inTag = false
            currentTag = null

        }, false);
    </script>
# endblock
